.HV-Container{
  width: 80%;
  padding: 5%;
  margin: auto;  
}
.HV-Style{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.HV-Items{
  width: 45%;
  margin: 2%;
}

.HV-input {
  flex: 1;
  margin-top: 3%;
}