.Style {
  width: 500px;
  height: auto;
  margin: auto;
  padding: 100px;
  background-color: #fffffff5;
  border-radius: 8px;
  padding-top: 30px;
  margin-top: 60px;
  font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  border: 2px solid #000000; /* Black border color */
}

h3{
  justify-content: center;
}