.TN-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* height: 20%; */
  cursor: pointer;
  background-color: #f5efef;
}

.TN-MenuContainer{
  padding: 2% 1% 2% 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.TN-logo {
  width: 7%;
  margin-left: 5%;
  /* height: 5%; */
}
.logoTitle{
  /* border: 2px solid red; */
  width: 50%;
  margin-left: 5%;
}
.TN-links{
  /* width: fit-content;   */
  padding: 1%;
  text-wrap: nowrap;
  margin: 0.5%;
  background-color: #f5ca79;
  border-radius: 14px;
  transition: all 0.3s ease-in;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.TN-links .TN-icons{
  color: #b99147;
}
.TN-links .TN-icons:hover{
  background-color: transparent;
}
.linkText{
  text-decoration: none;
  /* color: #423f3f; */
  color: white;
}
.TN-links:hover{
  transition: all 0.3s ease-in;
  /* box-shadow: inset 2px 2px 14px white; */
  box-shadow: inset 2px 2px 14px #d8ac59;
  /* background-color: #8d6a48; */
  .linkText{
    /* font-weight: bolder; */
    color: white;
    text-decoration: none;
  }
}