.AV-style {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  padding: 5%;
  margin: auto; 
}

.AV-dualInput{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4%;
  width: 100%;
}
  Button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 29.5%;
    
  }


.AV-floor {
  width: 48%;
  margin: 1%; 
}

.AV-room {  
  width: 48%; 
  margin: 1%; 
}
.roomLeader {
  
  width: 275px; 
  margin-left: 10px; 
}
.position {
  
  width: 230px; 
  margin-left: 10px; 
}
.roommate {
  
  width: 275px; 
  margin-left: 10px; 
}

