#Style_four{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 5%;
    margin: auto;    
    justify-content: space-between;
    flex-wrap: wrap;
}
Button {
    cursor: pointer;    
}
  
.button-container .AdA-Btn{
  padding: 2%;
  margin-right: 2%;  
}

.AdAil-Listcontainer{
  
  height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
}