.CS-Style{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: 70%;
        height: 80vh;
        padding: 5%;
        margin: auto; 
}

.CS-FormContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
}
.CS-FormGroup{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2%;
        cursor: pointer;
}

.CS-FormGroup:hover{
        transition: all 0.3s ease-in-out;
        background-color: rgb(244, 242, 242);
}
