.CS-Style{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: 85%;
        height: 80vh;
        padding: 5%;
        margin: auto; 
        overflow-x: hidden;
        padding-top: 100px;
}
@media (min-width: 768px) {
        .CS-Style {
            flex-direction: row;
            align-items: flex-start;
            overflow-x: auto; /* Enable horizontal scrolling */
        }
    }
.TableContainer {
        overflow: auto;
        }    
.FP-Style{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: 85%;
        height: 90dvh;
        padding: 5%;
        margin: auto;
}
.CS-FormContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;        
}
.CS-FormGroup{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2%;
        cursor: pointer;
}
.CS-FormGroup:hover{
        transition: all 0.3s ease-in-out;
        background-color: rgb(244, 242, 242);
}

.FP-FormContainer{
        width: 100%;
}
.FP-FormGroup{
        padding: 2%;
        width: 100%;
        cursor: pointer;
}
.FP-FormGroup:hover{
        transition: all 0.3s ease-in-out;
        background-color: rgb(244, 242, 242);
}
.UM-title {
        position: relative;
        /* background-color: white; Ensure readability */
        padding: 10px; 
        z-index: 99; 
    }
