.styletwo{
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  padding: 5%;
  margin: auto; 
}

.SR-dualInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}
  
.SR-input{
  width: 100%;
  flex: 1;
}