/* .Style{
    width: 700px;
    height: auto;
    margin: auto;
    padding: 100px;
    background-color: #fffffffa;
    border-radius: 8px; 
    padding-top: 30px;
    margin-top: 60px;
    font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif; 
    text-align: center;
    font-size: 1.25rem;
    
}  

Button {
  cursor: pointer;
}

#one{
  margin-right: 30px;
  width: 25%;
  margin-left:35px;
}

*/
.AdA-title{
  padding-bottom: 5%;
  text-align: left;
}
.Ada-InputContainer{
  margin: 5% 0% 5% 0%;
}
.Ada-Input{
  width: 100%;
}
.Ada-SwitchContainer{
  margin: 4% 4% 0% 4%;
  justify-content: center;
  align-items: center;
}
.SubmitBtn{
  width: 20%;
  padding: 2%;
  border-radius: 7px;
  cursor: pointer;
  color: white;
  background-color: rgb(90, 170, 239);
}
.AdA-Style{
  width: 90%;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}


.Ada-Listcontainer{
  height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  /* padding: 2%; */
  /* margin: 0% 0% 0% 5%; */
}
.Ada-listRow{
  border: 1px solid rgb(218, 211, 211, 0.5);
  border-radius: 21px;
}
.Ada-listItem{
  text-transform: capitalize;
  font-family: sans-serif;
  cursor: pointer;
  padding: 2%;
  transition: all 0.3s ease;
}
.Ada-listRow:hover{
  background-color: rgb(251, 245, 245);
  .Ada-listItem{
    /* font-weight: bold; */
    transition: all 0.3s ease;
  }
}