.SAS-Style{
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  padding: 5%;
  margin: auto; 
}
.center-container{
  margin: 2% 0% 2% 0%;
}

.SAS-switchController{
  display: flex;
  flex-direction: row;
  margin: 2% 0% 2% 0%;
  align-items: center;
}

.SAS-switch{
  margin-left: 2%;
  display: flex;
  flex-direction: row;
}