.style{
    width: 500px;
    margin: auto;
    padding: 100px;
    background-color: #ffffff; /* Background color */
    border-radius: 8px; /* Border radius for rounded corners */
    padding-top: 50px;
    margin-top: 110px;
  }

 

Button {
  width: 35%;
  cursor: pointer;
  
  
}